DATABASE_URL="mysql://refeno:refeno@localhost:3306/refeno_manager"
API_PORT=3333
JWT_SECRET="change-me-in-production"
JWT_EXPIRES_IN="24h"
FRONTEND_URL=http://localhost:3000
SEED_ADMIN_LOGIN=dantenovas
SEED_ADMIN_PASSWORD=danterefeno
NEXT_PUBLIC_API_URL=http://localhost:3333
NEXT_PUBLIC_ADMIN_USER=dantenovas
NEXT_PUBLIC_ADMIN_PASSWORD=danterefeno
